html, body {
    position: relative;
    display: inline-block;
    width: 640px;
    height: 640px;
}
#screen {
    width: 640px;
    height: 640px;
    background: url('../image/bg_space.jpg');
}
#volume {
    &.on {
        background: url('../image/icon/v_on.png') no-repeat;
    }
    &.off {
        background: url('../image/icon/v_off.png') no-repeat;
    }
    &.on, &.off {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
    }
}
#curtain {
    &.open {
        position: absolute;
        top: 0;
        display: table;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10;

        p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 24px;
            color: #fff;
        }
    }
    &.close {
        display: none;
    }
}
.img-area {
    visibility: hidden;
}